SUPABASE_URL=https://fqknwkuujopmyvmvlrmo.supabase.co
SUPABASE_ANON_KEY=sb_publishable_gTpkKrVJVbaQs8vcphvEgw_oWCmZDqR
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZxa253a3V1am9wbXl2bXZscm1vIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODA2OTk1OCwiZXhwIjoyMTAzNjQ1OTU4fQ.EvNn3cH2HZTlJYDok2I92MzrIphyVQ1USnrEjWhbMpg
PORT=8080
